<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>Guess Mine</title>
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-92186889-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-92186889-5');
    </script>
</head>

<body>
    <div class="loginBox">
        <form id="jsLogin"><input placeholder="닉네임 입력" type="text" /></form>
    </div>
    <div class="gameContainer" id="jsGame">
        <div class="main" id="jsMain">
            <div id="jsNotifs"></div>
            <div class="notifs2" id="jsNotifs2"></div>
            <div class="notifs3" id="jsNotifs3"></div><canvas class="canvas" id="jsCanvas"></canvas>
            <div class="controls" id="jsControls"><button id="jsMode">Fill</button>
                <div class="colors">
                    <div class="color jsColor" style="background-color:rgb(0, 0, 0);"></div>
                    <div class="color jsColor" style="background-color:rgb(255,255,255);"></div>
                    <div class="color jsColor" style="background-color:rgb(255,59,48);"></div>
                    <div class="color jsColor" style="background-color:rgb(255,149,0);"></div>
                    <div class="color jsColor" style="background-color:rgb(255,204,0);"></div>
                    <div class="color jsColor" style="background-color:rgb(76,217,100);"></div>
                    <div class="color jsColor" style="background-color:rgb(90,200,250);"></div>
                    <div class="color jsColor" style="background-color:rgb(0,122,255);"></div>
                    <div class="color jsColor" style="background-color:rgb(88,86,214);"></div>
                </div>
            </div>
        </div>
        <div class="chat" id="jsChat">
            <div class="player__board" id="jsPBoard"></div>
            <ul class="chat__messages" id="jsMessages"></ul>
            <form class="chat__form" id="jsSendMsg"><input placeholder="정답은 여기에 입력해주세요." type="text" /></form><button class="reset__nickname" id="jsResetNickname">닉네임 변경</button></div>
    </div>
    <script>
        window.events = <%- events %>;
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js">
    </script>
</body>

</html>